init.author.name = Jane Doe
init.author.email = jane@example.com
init.author.url = http://blog.example.com
# an email is required to publish npm packages
email=jane@example.com
always-auth=true
_auth=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
